In [28]:
import pandas as pd

# Load the data from Excel
excel_path = 'rev_by_cli.xlsx'
revenues_df = pd.read_excel(excel_path, 'SS23')

# Display the first few rows of the dataframe to understand its structure
revenues_df

,Unnamed: 0,GM,Boutique,Ville,Nb marque par btq,Total CA\npar btq,Marque,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,PROSPECT
0,NaN,NaN,NaN,NaN,NaN,NaN,ARTE,DP,NASA,TNO,NaN,BUDGET
1,13 BISNANCY,NaN,13 BIS,NANCY,1.0,#ERROR!,#ERROR!,#ERROR!,10000,#ERROR!,NaN,NaN
2,5PMNANTES,NaN,5PM,NANTES,1.0,#ERROR!,10000,#ERROR!,#ERROR!,#ERROR!,NaN,NaN
3,ADG STUDIOGRENOBLE,NaN,ADG STUDIO,GRENOBLE,3.0,#ERROR!,10000,10000,10000,#ERROR!,NaN,NaN
4,ANATOLIAARLES,NaN,ANATOLIA,ARLES,1.0,#ERROR!,10000,#ERROR!,#ERROR!,#ERROR!,NaN,NaN
5,ANATOLIANIMES,NaN,ANATOLIA,NIMES,1.0,#ERROR!,10000,#ERROR!,#ERROR!,#ERROR!,NaN,NaN
6,ATALANTEANTIBES,NaN,ATALANTE,ANTIBES,2.0,#ERROR!,10000,#ERROR!,10000,#ERROR!,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,Total CA par marque,NaN,#ERROR!,#ERROR!,#ERROR!,#ERROR!,#ERROR!,NaN,NaN
9,NaN,NaN,NaN,Btq par marque,NaN,9,5,1,3,0,NaN,NaN
10,NaN,NaN,NaN,Btq par marque GM,NaN,0,0,0,0,0,NaN,NaN
11,NaN,NaN,NaN,Moyen par btq,NaN,#ERROR!,0,0,0,0,NaN,NaN
12,NaN,NaN,NaN,Moyen par btq hors GM,NaN,#ERROR!,0,0,0,0,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,Nombre boutique,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,Nombre enseigne,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,Nombre ville,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
rev_values = revenues_df.iloc[1:7, 6:10]
rev_values = rev_values.replace('#ERROR!', 0).astype(int)

C:\Users\Rafael\AppData\Local\Temp\ipykernel_23212\2939198390.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  rev_values = rev_values.replace('#ERROR!', 0).astype(int)

Sum up revenues for each brand

In [52]:
res = zip(uniq_stores, rev_values.sum(axis=1))

In [55]:
list(res)

[('13 BISNANCY, 13 BIS', 10000),
 ('5PMNANTES, 5PM', 10000),
 ('ADG STUDIOGRENOBLE, ADG STUDIO', 30000),
 ('ANATOLIAARLES, ANATOLIA', 10000),
 ('ANATOLIANIMES, ANATOLIA', 10000),
 ('ATALANTEANTIBES, ATALANTE', 20000)]